/*top bar, for aesthetics and not navigation, because we aren't going anywhere*/
.navbar-default {
	display: block;
	background-image:url("pineapple.png");
	border-bottom: double;
	border-bottom-width: 3px;
	position: relative;
	color: #fff;
}

.introduction p {
    display: block;
    padding: 10px;
    text-align: center;
}


.results {
    padding:10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1 {
    display: block;
    padding: 20px;
    text-align: left;
    color: pink;
}


