/*top bar, for aesthetics and not navigation, because we aren't going anywhere*/
.navbar-default {
	display: block;
	background-image:url("pineapple.png");
	border-bottom: double;
	border-bottom-width: 3px;
	position: relative;
	color: #fff;
}

.introduction p {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    text-align: center;
}

.introduction h3 {
    display: block;
    padding: 10px;
    text-align: center;
}

.enter_hashtag {
    display: block;
    padding:20px;
}

.results {
    display: none;
    padding:20px;
	margin-bottom:30px;
}

.results .dominant_emotion{
    display: block;
    padding:20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffccff;
}

h1 {
    display: block;
    padding: 20px;
    text-align: left;
    color: #ffccff;
}



